<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <style>
    body {
      padding-top: 120px;
      background-color: #27b7eb;
    }
  </style>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js" %>
  <script>
    function Ctrl($scope) {
      <% if params[:plan] %>
      $scope.plan = "<%= params[:plan] %>";
      <% else %>
      $scope.plan = "%= :alpha %>";
      <% end %>
    }
  </script>
<% end %>

<div class="row">
  <div class="offset1 span7">
    <h4>Sign up now to create an account and become a pioneer. We will email you when the app goes live in mid-November</h4>
  </div>
</div>

<div class="row">
  <div class="offset3 span6">
    <div id="stripe_error" class="alert alert-error" style="display:none" >
    </div>
  </div>
</div>

<!--
<div class="row">
  <div class="offset1 span 11">
    <form name="planForm" ng-app ng-controller="Ctrl">
          <input type="radio" name="planOptions" value="alpha" ng-model="plan">
          Free alpha account (through December)<br/>
          <input type="radio" name="planOptions" value="pioneer" ng-model="plan">
          Contribute $50 or more (one year subscription)
-->
      <!--label class="radio">
          <input type="radio" name="planOptions" value="alpha" data-toggle="radio" ng-model="plan">
          Free alpha account (through December)
      </label>
      <label class="radio">
          <input type="radio" name="planOptions" value="pioneer" data-toggle="radio" ng-model="plan">
          Contribute $50 or more (one year subscription)
      </label-->
<!--
    </form>
  </div>
</div>
-->

<div class="row">
  <div class="offset1 span11" ng-app ng-controller="Ctrl">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'card_form form-vertical' }) do |f| %>
  <%= hidden_field_tag 'plan', "{{plan}}" %>
  <input type="radio" name="planOptions" value="alpha" ng-model="plan">
  Free alpha account (through December)<br/>
  <input type="radio" name="planOptions" value="silver" ng-model="plan">
  Contribute $50 or more (one year subscription)
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :email, :required => true, :placeholder => "Email" %>
  <%= f.input :password, :required => true, :placeholder => "Password" %>
  <%= f.input :password_confirmation, :required => true, :placeholder => "Password again" %>
  <%= f.input :child_age, :required => true, :placeholder => "Child's age" %>
  <% if @user.stripe_token %>
    <p>Credit card acceptance is pending.</p>
  <% else %>
    <div ng-show="plan == 'silver'">
    <%= f.input :name, :autofocus => true %>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Card Security Code (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
    </div>
    </div>
  <%= f.input :age_acknowledgement, :required => true, label: false, inline_label: 'I am over 13 years old', input_html: { :data => {:toggle => 'checkbox'} } %>
  <%= f.input :terms_acknowledgement, :required => true, label: false, inline_label: 'I have read and agree to the Privacy Policy and Terms and Conditions', input_html: { :data => {:toggle => 'checkbox'} } %>
  <%= f.hidden_field :stripe_token %>
  <% end %>
  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
<% end %>
  </div>
</div>
