<!-- BACKDROP -->
<table cellpadding="0" width="100%" style="background: rgb(54,182,232)">
<tr><td>

<br/>
<!-- containing table -->
<table cellpadding="0" width="680" align="center" style="border-collapse:collapse; font-size:14px; font-family:Myriad,sans-serif; background:white; width:680px; margin:auto; text-align:left; -moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px;">


<tr> <!-- main branding image -->
<td align="center">
<% if @banner_image_type == "generic" %>
<%= image_tag "facetskids_topbanner2.jpg", size: "550x185", alt: "FacetsKids" %>
<% else %>
<%= image_tag "facets-kids-ipad.jpg", size: "500x374", alt: "FacetsKids on iPad" %>
<% end %> 
</td>
</tr><!-- end main branding image  -->



<tr> <!-- copy-->
<td>
<!-- embedded table -->
<table cellpadding="35" border="0" width="680">
<tr>
<td>
<h2><%=@header_copy.html_safe%></h2>
<p>
<%=@body_copy.html_safe%>
</p>
</td>
</tr>
</table>
</td></tr>





<tr> <!-- footer-->

<% if @include_ipad_question %>

<td colspan="2">
<!-- embedded table -->
<table cellpadding="10" border="0"  width="680">
<tr>
<td align="center">
<a style="background:rgb(54,182,232); text-decoration:none; padding:7px 15px; box-shadow:2px 2px 3px #000000; border-radius:5px;" href="<%=@button_link%>" title="Go to facetskids.facets.org"><font color="white"><b><%=@button_text.html_safe%></b></font></a>
</td>
</tr>
<tr>
<td align="center">
<font size="-1">Don't have an iPad? &nbsp; 
<a href="<%= content_noipad_url %>" title="Go to app!"><font color="black" size="-1">Click here</font></a>
</td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>
</td>

<% else %>

<td>
<!-- embedded table -->
<table style="color:white;" cellpadding="20" border="0"  width="680">
<tr>
<td align="center">
<a style="background:rgb(54,182,232); text-decoration:none; padding:7px 15px; box-shadow:2px 2px 3px #000000; border-radius:5px;" href="<%=@button_link%>" title="Go to facetskids.facets.org"><font color="white"><b><%=@button_text.html_safe%></b></font></a>
</td>
</tr>
</table>
</td>
 
<% end %>

</tr>

</td>
</tr>
</table>
<br/><br/>



<!-- CLOSES BACKDROP -->
</td></tr></table>
<br/><br/><br/>
