<%
buy_path = user_signed_in? ? purchase_gift_path : new_user_registration_path(:plan => 'giftcard_purchase')
%>

<%= render 'layouts/messages' %>

<div class="row" style="background-color: white;">

  <div class="col-md-6" style="border-right: 2px solid gray;">
  	<h6>Buy a gift</h6>
	<%= link_to 'Buy', buy_path, :class => 'btn btn-large btn-primary' %>
  </div>

  <div class="col-md-6">
  	<h6>Use a gift</h6>

    <%= simple_form_for(:gift, :url => redeem_gift_path, :html => {:method => "post" }) do |f| %>
      <%= f.input :code, :required => true, :label => false, :placeholder => "Code", :autofocus => true %>
      <%= f.button :submit, 'Redeem Gift', :class => 'btn-primary' %>
    <% end %>

  </div>

</div>