    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" style="padding-top: 140px">

      <ol class="carousel-indicators middle">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
        
      <div class="carousel-inner">

        <div class="item active" style="background-color: #27b7eb;">
          <div class="container">
            <div class="row">
              <div class="span12">
                <%= image_tag "FACETS-KIDS-SIGNUP2a2_0002_Group-1.png" %>
              </div>
            </div>
            <div class="row">
              <div class="span12">
                <div class="carousel-caption">
                  <h3>Become a Trailblazer!</h3>
                  <p class="lead">Download the Facets Kids app and introduce your kids to the best shorts and films from around the world.</p>
                  <%= link_to 'Sign up', new_user_registration_path(:plan => 'alpha'), :class => 'btn btn-large btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>

       <div class="item" style="background-color: #6d2970;">
          <div class="container">
            <div class="row">
              <div class="span12">
                <%= image_tag "FACETS-KIDS-SIGNUP2a2_0001_Layer-30.png" %>
                <div style="position: absolute; top: 160px; margin-left: 35%; margin-right: 35%; width: 100%; color: white;">
                  <h4>
                  Why should I become<br/> a Facets Kids Pioneer?
                  </h4>
                </div> 
              </div>
            </div>
            <div class="row">
              <div class="span12">
                <div align="center">
                <%= link_to 'Sign up', new_user_registration_path(:plan => 'alpha'), :class => 'btn btn-large btn-primary' %> 
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item" style="background-color: #ec1f27;">
          <div class="container">
            <div class="row">
              <div class="span12">
                <%= image_tag "FACETS-KIDS-SIGNUP2a2_0005_Layer-30.png", :style => "height: 300px;" %>
              </div>
            </div>
            <div class="row">
              <div class="span12">
                <div class="carousel-caption">
                  <h3>Foster Global Citizens</h3>
                  <p class="lead">Access our rapidly growing library of 300 kids films from around the world</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span12">
                <div align="center">
                <%= link_to 'Sign up', new_user_registration_path(:plan => 'alpha'), :class => 'btn btn-large btn-primary' %> 
                </div>
              </div>
            </div>
 
          </div>
        </div>

        <div class="item" style="background-color: #faca0a;">
           <div class="container">
            <div class="row">
              <div class="span12">
                <%= image_tag "FACETS-KIDS-SIGNUP2a2_0005_Layer-35.png", :style => "height: 300px;" %>
              </div>
            </div>
            <div class="row">
              <div class="span12">
                <div class="carousel-caption">
                  <h3>Instill Critical Thinking</h3>
                  <p class="lead">Empower kids to actively explore, experience and respond to independent films</p>
                  <p class="lead">Developed by educators to foster social emotional learning, and instill critical thinking</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span12">
                <div align="center">
                <%= link_to 'Sign up', new_user_registration_path(:plan => 'alpha'), :class => 'btn btn-large btn-primary' %> 
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item" style="background-color: #3e3939;">
           <div class="container">
             <div class="row">
               <div class="span12">
                 <%= image_tag "FACETS-KIDS-SIGNUP2a2_0000_Group-2.png", :style => "height: 300px;" %>
               </div>
             </div>
             <div class="row">
               <div class="span12">
                 <div class="carousel-caption">
                   <h3>Safe and Secure Environment</h3>
                   <p class="lead">Closed streaming environment protects your kids.</p>
                   <p class="lead">Streaming portal delivers age-appropriate engaging content</p>
                 </div>
               </div>
             </div>
             <div class="row" style="padding-top: 20px;">
              <div class="span12">
                <div align="center">
                <%= link_to 'Sign up', new_user_registration_path(:plan => 'alpha'), :class => 'btn btn-large btn-primary' %> 
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
        
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        
    </div>

    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel({
              interval: 0
          })
          
          $('#myCarousel').bind('slid', function() {
              $('body').css('background-color', $('.item.active').css('background-color'));
          });
          $('body').css('background-color', $('.item.active').css('background-color'));
     
        })
      }(window.jQuery)
    </script>
  
