      <div class="snap-drawers">
        <div>
          <div class="detailContainer">
            <div onclick="snapper.close();" style="width: 288px; height: 25px; margin: 5px 9px 0px 9px; text-align: right;">
              <i class="icon-cancel-squared" style="font-size: 28px; line-height: 1px;"></i>
            </div>
            <a href="" ng-click="result.playVideo(result.selected_video);"><img ng-src="{{result.selected_video.thumbnails[0]}}" style="width: 288px; height: 215px; margin: 5px 9px 0px 9px;"/></a>
            <div class="hilight">
              {{result.selected_video.name}}
            </div>
            <div style="margin: 5px 9px 10px 9px;">
              <span ng-if="result.selected_video.origin_country.length > 0">{{result.selected_video.origin_country[0]}}</span>
              <span style="font-weight: bold; margin-left: 10px;">{{result.selected_video.released_year}}</span>
              <span ng-if="result.selected_video.audio_language.length > 0" style="margin-left: 10px">{{result.selected_video.audio_language[0]}}</span>
            </div>
            <div style="margin: 5px 9px 0px 9px; height: 95px; width: 288px;" class="scrollable">
              <div ng-bind-html="result.selected_video.description">
              </div>
            </div>
          </div>
          <div class="ratingTitle">
            Rate It
          </div>
          <div class="ratingContainer">
            <div style="margin: 0px 9px 0px 9px;">
              <rating value="selected.user_rating" max="5" readonly="false" state-on="'entypo-star'" state-off="'entypo-star-empty'"></rating>
            </div>
          </div>
          <div class="tagTitle">
            Did this make you...
          </div>
          <div class="tagContainer" svgbuttongroup tag-list="selected.user_emotion_list" multiple="true">
            <svgbutton src="<%=image_path('happy.svg')%>" value="happy"></svgbutton>
            <svgbutton src="<%=image_path('excited.svg')%>" value="excited"></svgbutton>
            <svgbutton src="<%=image_path('scared.svg')%>" value="scared"></svgbutton>
            <svgbutton src="<%=image_path('think.svg')%>" value="think"></svgbutton>
            <svgbutton src="<%=image_path('laugh.svg')%>" value="laugh"></svgbutton>
            <svgbutton src="<%=image_path('care.svg')%>" value="care"></svgbutton>
          </div>
          
        </div>
        <div class="snap-drawer snap-drawer-right"></div>
      </div>

    
      <div id="content"class="snap-content iosSliderVertical" iosvslider>

        <div class='slider'>

          <div ng-if="selected.emotion.length == 0">
            <div ng-repeat="tag in result.curated_tag_list"  ng-class-odd="'iosSliderColorOdd'" ng-class-even="'iosSliderColorEven'">
              <div class="slide" vslide>
                <div class="listTitle">{{tag.label}}</div>
                <div class="iosSlider" iosslider data-snap-ignore="true">
                  <div class="slider">  
                    <div class="slide" slide ng-repeat="video in result.videos[tag.name]">
                      <a href="" onclick="snapper.open('left');" ng-click="result.playVideo(video);">
                        <img ng-class="{movieSelected: video.selected, movieUnselected: !video.selected}" ng-src="{{video.thumbnails[0]}}">
                        <img class="playHilight" src="<%=image_path('playios.png')%>" ng-show="video.selected"/>
                      </a>
                      <div class="hilight">{{video.duration_in_sec.toHHMMSS()}}</div>
                      <a href="" onclick="snapper.open('left');" ng-click="result.selectVideo(video);"><span class="movieTitle">{{video.name}}</span></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div ng-if="selected.emotion.length > 0">
            <div class="slide" vslide>
              <div id="wrapper" class="imageContainer">
                <div ng-repeat="video in result.videos[selected.emotion[0]]" repeat-last-notifier data-snap-ignore="true">
                  <a href="" ng-click="result.playVideo(video);"><img ng-src="{{video.thumbnails[0]}}"/></a>
                  <div class="hilight">{{video.duration_in_sec.toHHMMSS()}}</div>
                  <a href="" onclick="snapper.open('left');" ng-click="result.selectVideo(video);"><div class="movieTitle scroll-box" marquee><div class="scroll-text">{{video.name}}</div></div></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <videoplayer src="result.play_video"></videoplayer>
      <%= javascript_include_tag "move.min.js" %>
      <script type="text/javascript">
        var snapper = new Snap({
          element: document.getElementById('content'),
          maxPosition: 306,
          disable: 'right',
          touchToDrag: true,
          hyperextensible: false
        });

        $(document).on('touchmove',function(e){
          if(!$('.scrollable').has($(e.target)).length)
            e.preventDefault();
        });

        $(function() {
          FastClick.attach(document.body);
        });
      </script>


