
<div style="padding-top: 140px;">
<div class="row">
  <div class="offset1 span8">
    <h2>Thank you!</h2>
    <p>
    You have become a pioneer and your one-year free account has been created. 
    </p>
    <p>
    Your generous contribution will help Facets expand access to the best independent, global children's films.
    </p>
    <p>
    We will email you when the app goes live in mid-November!
    </p>
  </div>
</div>

<div class="row" style="padding-top: 20px;">
  <div class="offset1 span8">
    <p>Share your Discovery</p>
    Invite your friends
  </div>
</div>

<div class="row" style="padding-top: 20px;">
  <div class="offset1 span8" style="padding-top: 10px;">
    Friends' emails:
    <%= simple_form_for(current_user, :as => :User, :url => add_invitations_path, :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
      <%= f.error_notification %>
      <%= display_base_errors current_user %>
      <input name="email_invitations" class="tagsinput tagsinput-primary" />
      <%= f.button :submit, 'Send Invitation', :class => 'btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row" style="padding-top: 20px;">
  <div class="offset1 span8">
<a href="#" 
  onclick="
    url = 'http://facetskids-staging.herokuapp.com';
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(url), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
<%= image_tag "facebookicon.png" %> Post about Facet Kids on Facebook
</a>
  </div>
</div>

</div>
