<div class="row" style="padding-top: 20px;">
  <div class="offset1 span8">
    <p>Share your Discovery</p>
    Invite your friends
  </div>
</div>

<div class="row" style="padding-top: 10px;">
  <div class="offset1 span8" style="padding-top: 10px;">
    <%= simple_form_for(current_user, :as => :user, :url => add_invitations_path, :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
      <%= f.error_notification %>
      <%= display_base_errors current_user %>
      <%= f.input :name, :label => "Your name" %>

      <div class="control-group string optional email_invitations">
        <label class="string optional control-label" for="Email_invitations">Friends' emails</label>
        <div class="controls">
          <input name="email_invitations" id="Email_invitations" class="tagsinput tagsinput-primary" />
        </div>
      </div>

      <%= f.button :submit, 'Send Invitation', :class => 'btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row" style="padding-top: 20px;">
  <div class="offset1 span8">
<a href="#" 
  onclick="
    url = '<%= "http://" + ENV["HOST"] %>';
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(url), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
<%= image_tag "facebookicon.png" %> Post about Facet Kids on Facebook
</a>
  </div>
</div>


